:root {
  --aqua: #a2ccfd;
  --black: #000000;
  --blue: #004dba;
  --light-blue: #0089cd;
  --red: #fc1a1a;
  --white: #ffffff;
  --yellow: #ffff00;
  --green: #00ff00;
  --orange: #ff7f00;
  --purple: #7f00ff;
}

body {
  margin: 0;
  padding: 0;
}
.totalShops {
  position: absolute;
  bottom: 0;
  color: #1f1f1f;
  margin: 5px;
  font-size: 14px;
  font-family: "courier new", courier, monospace;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.download {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 10px 0;
}

.btn-u {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);
  padding: 8px 20px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.textAreaDiv {
  position: relative;
}
.copy {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
  color: #909090;
}

.textArea {
  outline: none;
  border: none;
  width: 400px;
  color: var(--blue);
  padding: 10px;
  height: 100px;
  background-color: #ebebeb;
  border-radius: 5px;
}
.textArea:focus {
  box-shadow: 0 0 5px 0 var(--black);
  transition: 200ms;
}
.textArea::placeholder {
  padding: 10px 0;
  text-align: center;
  color: var(--black);
  font-family: "Courier New", Courier, monospace;
}

.defaultimageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-style: italic;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.defaultImageBtn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #7b7b7b;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}
.defaultImageBtn:hover {
  box-shadow: 0 0 10px 0 var(--black);
  transition: 200ms;
}
.warning {
  font-family: "Courier New", Courier, monospace;
}

.download img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  margin: 40px 0 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 15px 0 var(--black);
}
.btn {
  border: none;
  padding: 15px 100px;
  border-radius: 20px;
  font-size: 18px;
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
}
.btn:disabled {
  background-color: #4b4b4b;
  color: var(--white);
  cursor: not-allowed;
  filter: blur(1px);
}

.btn:hover {
  box-shadow: 0 0 15px 0 var(--black);
  transition: 200ms;
  transform: scale(1.1);
}

.post {
  margin: 0;
  background-color: var(--white);
  /* width: 750px;
  height: 800px; */
  display: flex;
  flex-direction: column;
}
.festival {
  width: 100%;
  height: auto;
}
.festival img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.wish {
  width: 95%;
  padding: 10px 0;
  background-color: orange;
  box-shadow: 0 0 10px 0 var(--orange);
  border-radius: 10px;
  margin: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--black);
  font-weight: 600;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.info {
  display: flex;
  flex-direction: row;
  background: var(--white);

  border-bottom: 1px dashed var(--orange);
}
.shop,
.lsi {
  width: calc(100% - 50%);
}

.lsi {
  display: flex;
  flex-direction: column;
  border-left: 1px dashed var(--orange);
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.lsi-logo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lsi-logo img {
  width: 65%;
  height: calc(100% - 5px);
}
.lsi-contact {
  display: flex;
  width: 100%;
  height: 200px;

  justify-content: space-around;
}
.lsi-contact-details {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  font-style: italic;
  color: var(--blue);
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.lsi-contact-details div {
  margin: 10px 0;
}

.lsi-qr {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lsi-qr img {
  width: 200px;
}

.lsi-qr div {
  font-size: 23px;
  font-weight: 600;
  font-style: italic;
  color: var(--blue);
  text-align: center;
}
.icon {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

/* shop */
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
}
.shop-details {
  margin-top: 30px;
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.shop-image {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 8px 0 #858585;
  border-radius: 10px;
  overflow: hidden;
}
.shop-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.shop-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  color: var(--blue);
}
.shop-address {
  display: flex;
  align-items: center;
}

.shop-address div {
  margin: 2px;
}
.shop-contact-details {
  width: 100%;
  height: 250px;

  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-style: italic;
  color: var(--blue);
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.shop-contact-details div {
  margin: 9px 0;
}

.info2 {
  width: 100%;
  height: 450px;
  display: flex;
  padding: 20px;
  flex-direction: row;
}
.shop2 {
  padding: 0px 10px;

  width: 100%;
}
.lsi2 {
  width: 100%;
  padding: 0px 10px;
}
.shopUpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-image2 {
  width: 70%;
  height: 240px;
  box-shadow: 0 0 8px 0 #858585;
  border-radius: 10px;
  overflow: hidden;
}
.lsi-image2 {
  width: 70%;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.shop-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.lsi-image2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.shopQr2 img {
  width: 30%;

  object-fit: contain;
  object-position: center;
}
.shop-address-2 {
  margin: 8px;
  font-weight: 500;
  color: rgb(65, 65, 65);
  font-weight: 600;
  font-family: sans-serif;
}
.shopEmail2 {
  margin-top: 5px;
  padding: 0 34px;
}
.shop-contact2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0px 40px;
}
.shopQr2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shopQr2 p {
  width: 140px;
  color: var(--blue);
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.shopPhone2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--blue);
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  justify-content: space-around;
  width: 200px;
}
.shopPhone2 i {
  color: var(--white);
  background-color: var(--light-blue);
  padding: 8px;
  border-radius: 20px;
}
.shopUrl2 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--blue);
  font-weight: 600;
  font-style: italic;
  font-size: 22px;
  width: 100%;
  justify-content: center;
}

.icon2-globe {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 20px;
  padding: 6px;
  margin-right: 10px;
  border-radius: 20px;
}
.icon2-mail {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 18px;
  padding: 7px;
  margin-right: 10px;
  border-radius: 20px;
}
.lsiEmail2 {
  margin: 0px 0px 0px 40px;

  color: var(--blue);
  font-weight: 600;
  font-style: italic;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
